@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&display=swap');

@font-face {
    font-family: 'botw';
    src: url('/assets/fonts/botw-sheikah-sarinilli/BotW_Sheikah.ttf');
}

/*
==========================================
Structure
==========================================
*/
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative
}

.bg-overlay {
    position: fixed;
    background-color: #00000061;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
header, main {
    z-index: 4;
}
/*
==========================================
Header
==========================================
*/
/* PAGE TITLE */
header {
    margin: 0 auto;
    width: 500px;
    color: white;
    font-size: 2rem;
    line-height: 2.4rem;
    text-shadow: 0 0 2px blanchedalmond;
}
/* THE WORD ENCYCLOPEDIA */
.encyclopedia {
    font-size: 4rem;
    display: block;
}
/* THE WORD HYRULE */
.hyrule {
    font-size: 6rem;
}
/*
==========================================
Main
==========================================
*/
/* PAGE MAIN BACKGROUND */
html {
    background: url(/assets/bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }


/* MAIN CONTAINER */
main {
    margin: 0 auto 1rem auto;
    background: rgba(64, 104, 109, 0.6);
    border: 3px solid #718d93;
    width: 90vw;
    overflow: hidden;
}

/* BODY CONTAINER */
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: .5rem 0;
}

/* ICON CATEGORIES IMAGES */
.btnContainer img {
    position: relative;
    width: 50px;
    height: 50px;
    top: 5px;
    cursor: pointer;
}

.btnContainer img:hover {
    cursor: pointer;
}

.btnContainer h3 {
    position: relative;
    border: 4px solid black;
    border-radius: 30%;
}

/* ICON HOVER EFFECTS */
/*display category name on hover of each icon*/
.hoverTxt{
    visibility: hidden;
    padding: .17rem;
    display: block;
    width: 85px;
    text-align: center;
    border-radius: 1rem;
    font-size: 12px;
    text-shadow: 0 0 2px blanchedalmond;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.485);
    position: absolute;
    top: -1.5rem;
    left: -1rem;
    transition-property: visibility;
    transition: all 0s ease-in-out;
}

.catButton:hover{
    border-color: rgba(160, 244, 255, .8);
}

/*display category name on hover of each icon*/
.creaturesFoodBtn:hover .hoverTxt,
.creaturesNonFoodBtn:hover .hoverTxt,
.equipmentBtn:hover .hoverTxt,
.materialsBtn:hover .hoverTxt,
.monstersBtn:hover .hoverTxt,
.treasureBtn:hover .hoverTxt{
    visibility: visible;
}


/* SEARCHBAR */
/* ============================================================= */
section form {
    border-bottom: 1px solid #718d93;
    /* border-top: 3px solid #718d93; */
    margin: 0rem 2rem 0 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  /* background-color: #f1f1f1; */
  padding: 5px;
  font-size: 16px;
}
input[type=text] {
  background-color: transparent;
  width: 100%;
  outline: 1px solid rgba(160, 244, 255, .8);
  border-radius: .5rem;
}

input::placeholder{
    color: white;
}

#submit {
  background-color: rgba(160, 244, 255, .8);
  color: #000;
  cursor: pointer;
  border-radius: .5rem;
  font-family: 'botw', Hindi, sans-serif;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgb(142, 147, 148) !important;
  color: #ffffff;
}

/* =============================================================== */


/* CONTAINER FOR THE GRIDS TO MAKE IMAGE BOX AND TEXT BOX */
.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 0;
    border-top: 3px solid #718d93;
}

/* IMAGE SIZING & CONTAINER */
.flex{
    display: flex;
}

.imgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin: 2rem 0;
}

.fa-solid{
    align-self: center;
    justify-self: center;
    font-size: 5rem;
    color:rgba(160, 244, 255, 1);
    cursor: pointer;
}

.searchedImg {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 250px;
    height: 250px;
    border: 2px solid #8FC9F0;
}

.linkLogo{
    width: 100%;
    height: 100%;
}

/*
===================================
Toggle Arrows
===================================
*/
.arrows {
    display: none;
}

.arrows:hover{
    text-shadow: 0 5px 15px rgba(99, 230, 239, 0.642);
}

/* TEXT BOXES */
.informationInner {
    display: block;
    background: rgba(0, 0, 0, 0.485);
    /* border: 3px solid transparent; */
    /* height: 100%; */
    font-family: 'botw';
    width:auto;
}

.infoTitle {
    padding: 2.5rem 3rem 1rem 3rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: start;
    color: rgba(255, 255, 255, 0.908);
    text-transform: capitalize;
    word-break: break-all;
}

.infoBody {
    border-top: 1px solid #000000;
    padding: 2rem 3rem 2rem 3rem;
    text-align: start;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(253, 253, 253, 0.643);
}

/*
==========================================
Footer
==========================================
*/
footer {
    color: #d4d4d4;
    font-family: 'Hind';
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.485);
    padding: 1rem;
    text-align: center;
    transition: all .2s ease-in;
}

.footerTxt{
    font-size: .75rem;
    font-style: italic;
}


.footerTxt a{
    font-weight: 700;
    color: #d4d4d4;
    font-size: 1rem;
}

.footerTxt a:hover{
    color: rgba(160, 244, 255, .8);
    text-shadow: 0 5px 15px rgba(99, 230, 239, 0.642);
}

/*secret dot in bottom right corner to get get overlay to stretch to the edge of the page*/
.dot{
    position: fixed;
    bottom: 0;
    right: 0;
    visibility: hidden;
}


/*
==========================================
Media Queries
==========================================
*/

@media screen and (max-width: 768px) {
    .container{
        width: 90vw;
        grid-template-columns: repeat(1, 1fr);
    }
}