@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&display=swap');

/*
==========================================
Structure
==========================================
*/
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative
}

.bg-overlay {
    position: absolute;
    background-color: #00000061;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
header, main {
    z-index: 4;
}
/*
==========================================
Header
==========================================
*/
/* PAGE TITLE */
header {
    color: white;
    font-size: 2rem;
    line-height: 2.4rem;
}
/* THE WORD ENCYCLOPEDIA */
.encyclopedia {
    font-size: 4rem;
    display: block;
}
/* THE WORD HYRULE */
.hyrule {
    font-size: 6rem;
}
/*
==========================================
Main
==========================================
*/
/* PAGE MAIN BACKGROUND */
html {
    background: url(/assets/bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }


/* MAIN CONTAINER */
main {
    margin: 0 auto;
    padding-bottom: 5rem;
    background: rgba(64, 104, 109, 0.6);
    border: 3px solid #718d93;
    width: 90vw;
}

/* BODY CONTAINER */
.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* ICON CATEGORIES IMAGES */
#btnContainer img {
    width: 50px;
    height: 50px;
}

#btnContainer h3 {
    position: relative;
}

#btnContainer div {
    position: absolute;
    top: -5rem;
    left: -2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#btnContainer div:hover {
    opacity: 1;
    color: black;
    text-decoration: line-through;
}

#btnContainer h5 {
    display: block;
    width: 100%;
}

/* ICON HOVER EFFECTS */


/* CONTAINER FOR THE GRIDS TO MAKE IMAGE BOX AND TEXT BOX */
.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 0;
    margin: 0 auto;;
    /* height: 60vh; */
    border: 3px solid #718d93;
}

/* IMAGE SIZING & CONTAINER */
.flex{
    display: flex;
}

.imgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 2rem 0;
}

.fa-solid{
    align-self: center;
    justify-self: center;
    font-size: 5rem;
    color:rgba(160, 244, 255, 1);
    cursor: pointer;
}

.imgBorder {
    justify-self: center;
    border: 2px solid rgba(160, 244, 255, .8);
}

.searchedImg {
    max-width: fit-content;
    display: flex;
    align-self: center;
    justify-self: center;
    /* border: 2px solid #8FC9F0; */
}

.linkLogo{
    width: 100%;
    height: 100%;
}

/* TEXT BOXES */
.informationInner {
    background: rgba(0, 0, 0, 0.485);
    border: 3px solid transparent;
}

.infoTitle {
    padding: 2.5rem 3rem 1rem 3rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: start;
    color: rgba(255, 255, 255, 0.908);
    text-transform: capitalize;
}

.infoBody {
    border-top: 1px solid #000000;
    padding: 2rem 3rem 2rem 3rem;
    text-align: start;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(253, 253, 253, 0.643);
}

/*
===================================
Show info container
===================================
*/
.show{
    display: grid;
}

/*
==========================================
Footer
==========================================
*/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
}


/*
==========================================
Media Queries
==========================================
*/

@media screen and (max-width: 768px) {
    .container{
        width: 90vw;
        grid-template-columns: repeat(1, 1fr);
    }
}