/*
==========================================
Clearfix
==========================================
*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    *zoom: 1;
}
/*
==========================================
Structure
==========================================
*/
* {
    box-sizing: border-box;
    text-decoration: none;
}
html {
    height: 100%;
    font-size: 62.5%;
    position: relative;
}
body {
    height: 100%;
    position: relative;
}
/*
==========================================
Layout
==========================================
*/
/*
==========================================
Header
==========================================
*/
/*
==========================================
Main
==========================================
*/
/*
==========================================
Body
==========================================
*/
/*
==========================================
Body
==========================================
*/
/*
==========================================
Footer
==========================================
*/